[package]
name = "vid-launcher"
version = "2.3.14"
edition = "2024"

[dependencies]
glib = "0.21.0"
rand = "0.9.0"

[dependencies.gtk]
package = "gtk4"
version = "0.10.0"

[dev-dependencies]
tempfile = "3"

[profile.release]
opt-level = "z"
strip = true
lto = true
codegen-units = 1
panic = "abort"
